html {
  scroll-behavior: smooth;
}

:root {
  /* Font colors */
  --main-font-color: #ffffff;
  --secondary-font-color: rgba(255, 255, 255, 0.6);
  --accent-color: #23c3b2;

  /* Background colors */
  --main-background-color: #101010;
  --gradient-background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0) 100%
  );

  /* Animation */
  --transition-dur-and-func: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-background-color, #101010);
  color: var(--main-font-color, #ffffff);
  font-family: "SF UI Display", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

img {
  padding: 0;
  margin: 0;
}

.hidden-element {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    padding-left: 50px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

.section {
  height: 100vh;
  position: relative;
}

.title {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.desription {
  opacity: 0.8;
}

.text {
  max-width: 240px;
}

.button {
  width: 200px;
  height: 55px;
  padding: 20px 50px;
  background-color: var(--accent-color);
  color: var(--main-font-color);
  border: none;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 1.3px;
  text-align: center;
  text-transform: uppercase;
  transition: var(--transition-dur-and-func);
}

.button:hover,
.button:focus {
  background-color: var(--main-font-color);
  color: var(--accent-color);
}

.icon-button {
  background: none;
  border: none;
  padding: 15px;
  z-index: 100;
}

.gradient {
  height: 50%;
  width: 100%;
  background-image: var(--gradient-background-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Hero section */
.hero-section {
  background-image: url(./images/people-in-swimsuits.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(./images/people-in-swimsuits@x2.png);
  }
}

.hero-menu-btn {
  position: absolute;
  left: 0;
  top: 0;
}

.hero-scroll-btn {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.hero-title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 16px;
  line-height: 1.23;
}

/* Offline section */
.offline-section {
  background-image: url(./images/a-man-in-a-suit.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 80px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .offline-section {
    background-image: url(./images/a-man-in-a-suit@x2.png);
  }
}

.offline-title {
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 15px;
}

.offline-description {
  font-size: 15px;
  line-height: 1.33;
}

/* Tariff section */
.tariff-section {
  background-image: var(--gradient-background-color),
    url(./images/movie-posters.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 36px 0;
  border: 8px solid var(--accent-color);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .tariff-section {
    background-image: var(--gradient-background-color),
      url(./images/movie-posters@x2.png);
  }
}

.tariff-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.tariff-name {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 109px;
}

.tariff-amount {
  font-size: 36px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.tariff-text {
  margin-bottom: 40px;
}

.tariff-sum {
  display: block;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.tariff-btn {
  margin-bottom: 10px;
}

.tariff-tariff {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.83px;
  max-width: 157px;
  margin-bottom: 20px;
}

.tariff-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

/* Presents section */
.presents-section {
  background-image: url(./images/partner-logos.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding: 92px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .presents-section {
    background-image: url(./images/partner-logos@x2.png);
  }
}

@media screen and (min-width: 375px) {
  .presents-container {
    padding-left: 50px;
    padding-right: 15px;
  }
}

.presents-title {
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 15px;
}

.presents-description {
  font-size: 15px;
  line-height: 1.33;
}

/* Advantages section */
.advantages-section {
  padding: 101px 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 52px;
}

.advantages-item {
  flex-basis: calc((100% - 40px) / 2);
}

.advantages-item-title {
  font-size: 20px;
  line-height: 23.87px;
}

.advantages-item-description {
  font-size: 15px;
}
